# EXAMPLE IMPLEMENTATION OF .env FILE
# Database Configuration
MONGODB_URI=

# CRM SETTINGS
CRM_MODE=

# Salesforce CRM Settings
SALESFORCE_CLIENT_ID=
SALESFORCE_CLIENT_SECRET=
SALESFORCE_REDIRECT_URI=
SALESFORCE_LOGIN_URL=

# Aws settings
NODE_ENV=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=#

# Lead Picture Token Settings
LEAD_PICTURE_TOKEN_SECRET=
LEAD_PICTURE_TOKEN_TTL=